.App {
	width: 100vw;
	background-color: rgb(43, 44, 48);
}

.naslov {
	color: red;
}

.header {
	display: flex;
	justify-content: center;
	text-align: center;
	width: 100vw;
	color: white;
}

.radio-dugme {
	color: white;
}

.Content {
	display: flex;
	flex-direction: row;
	width: 100%;
	padding-bottom: 5rem;
}

.form-container {
	width: 50%;
	display: flex;
	flex-direction: column;
}

.form-container-heading {
	justify-content: center;
	text-align: center;
	color: white;
	margin-top: 5rem;
}

.sports-container {
	width: 50%;
}
.sportovi {
	display: flex;
	flex-direction: column;
	margin: 2rem 0 0 3rem;
	font-size: larger;
}

hr {
	width: 80%;
	background-color: white;
}

.podatak {
	color: white;
	display: flex;
	flex-direction: column;
	margin: 2rem 0 0 3rem;
}

.podatak-labela {
	font-size: larger;
	margin-bottom: 0.5rem;
}

.btn {
	margin: 0.5rem 0 0 3rem;
	font-size: x-large;
	font-weight: bold;
	color: greenyellow;
	background-color: black;
	border-radius: 10px;
	outline: none;
}

.utakmica h3 {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.utakmica.reminder {
	border-left: 5px solid red;
}

.utakmica {
	background-color: rgb(43, 44, 48);
	margin: 5px;
	padding: 10px 20px;
	cursor: pointer;
	color: white;
}

.sports-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin-top: 5rem;
}

.sports-container::-webkit-scrollbar {
	width: 12px;
	border-radius: 10px;
	background-color: #00000033;
}

.sports-container::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #5c5c5c;
}

.delete-icon {
	color: red;
}

.grupa-utakmice {
	display: flex;
	flex-direction: column;
}

.grupa-utakmice h2 {
	color: white;
	font-size: x-large;
}
